.venv
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
__pycache__
node_modules
dist
build
*.egg-info

examples/.*
examples/uploads/ode-gnn

# Playwright
test-results
playwright-report
/blob-report/
/playwright/.cache/
