# Dependencies for basic operation.
fastapi
orjson
pydantic-to-typescript
uvicorn[standard]
pycrdt
pycrdt-websocket

# For lynxkite_ops.
matplotlib
networkx
numpy
pandas
scipy

# GPU-accelerated graph analytics.
cugraph-cu12
cudf-cu12
nx-cugraph-cu12 

# For llm_ops.
chromadb
Jinja2
openai
