// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";
path.svelte-flow__edge-path {
  stroke-width: 2;
  stroke: black;
}
.svelte-flow__edge.selected path.svelte-flow__edge-path {
  outline: var(--xy-selection-border, var(--xy-selection-border-default));
  outline-offset: 10px;
  border-radius: 1px;
}
.svelte-flow__handle {
  border-color: black;
  background: white;
  width: 10px;
  height: 10px;
}
.svelte-flow__arrowhead * {
  stroke: none;
  fill: black;
}
.selected .lynxkite-node {
  outline: var(--xy-selection-border, var(--xy-selection-border-default));
  outline-offset: 7.5px;
}
