name: release-lynxkite-mcp
on:
  workflow_dispatch:
jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    steps:
      - uses: actions/checkout@v4
      - name: Install uv
        uses: astral-sh/setup-uv@v5
      - name: Build
        working-directory: lynxkite-mcp
        run: uv build
      - name: Publish
        working-directory: lynxkite-mcp
        run: uv publish
